* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  margin: 0;
  background-image: linear-gradient(180deg, rgba(0,21,54,0.9500175070028011) 0%, rgba(0,20,43,0.9528186274509804) 100%, rgba(0,0,0,1) 100%);
}

.app {
  height: 100vh;
}

.container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center
}

.greetings {
  display: none;
  opacity: 0;
  transition: 1s ease-in-out;
}

.clickme{
  font-size: 100px;
  background-color: transparent;
  border: 1px solid transparent;
  position: relative;
  transition: opacity 1s ease-in-out;
}

.clickme:before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.clickme:hover:before{
  content: "";
  box-shadow: 0px 0px 100px 40px #bba556;
}

.shown{
  display: block;
}

.hide{
  display: none;
}

.hide-vissually{
  opacity: 0;
}

.shown-vissually{
  opacity: 1;
}
.footer{
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.date{
  color: #b2b2b2c4;
  font-family: monospace;
  font-weight: 800;
  font-size: 18px;
}